@using DFC.ServiceTaxonomy.Editor.Module.Activities
@model OrchardCore.Workflows.ViewModels.ActivityViewModel<SyncToGraphTask>

<header>
    <h4><i class="fa fa-link"></i>@Model.Activity.GetTitleOrDefault(() => T["Sync To Graph"])</h4>
</header>
@* <span>@T["<em>{0}</em>", Model.Activity.Value]</span> *@