//todo: this belongs in an Assets folder in the content approval project

.dashboard-item-status {
    a:hover {
        text-decoration: none;
    }

    .dashboard-item-status-icon {
        margin-right: 0.5rem;
    }

    .dashboard-item-status-count {
        margin-right: 0.5rem;
    }
}

