@using DFC.ServiceTaxonomy.GraphSync.Services
@model DumpControlViewModel

    <h1 class="text-center">Dump Control</h1>

@functions
{
    private void ShowStatus(GraphConsumerStatus status)
    {
        switch (status)
        {
            case GraphConsumerStatus.InProgress:
                <div class="display-1 text-center" style="color: dodgerblue"><i class="far fa-paper-plane"></i></div>
                break;
            case GraphConsumerStatus.Success:
                <div class="display-1 text-center" style="color: limegreen"><i class="fas fa-check"></i></div>
                break;
            case GraphConsumerStatus.Failed:
                <div class="display-1 text-center" style="color: orangered"><i class="fas fa-times"></i></div>
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(status), status, null);
        }
    }
}
