@model TriggerSyncValidationViewModel

@*should be h1, but then ".ta-content h1" takes precedence over display-1*@


@if (Model.ValidateAndRepairResult != null)
{
    bool validationFailures = Model.ValidateAndRepairResult.ValidationFailures.Any();

    <div class="display-4 text-center">All new or modified content items since</div>
    <div class="display-4 text-center">@Model.ValidateAndRepairResult.LastSync.ToString("f")</div>

    <div class="display-1 text-center">Validated</div>
    ShowThumb(!validationFailures);

    if (validationFailures)
    {
        <div class="display-1 text-center">Repaired</div>
        ShowThumb(!Model.ValidateAndRepairResult.RepairFailures.Any());
    }
}

@functions
{
    public void ShowThumb(bool up)
    {
        if (up)
        {
            <div class="display-1 text-center"><i class="far fa-thumbs-up"></i></div>
        }
        else
        {
            <div class="display-1 text-center"><i class="far fa-thumbs-down"></i></div>
        }
    }
}
