@model TriggerSyncValidationViewModel

@*should be h1, but then ".ta-content h1" takes precedence over display-1*@

@*todo show log or at least if validated, or required repair. what was right/wrong*@
<div class="display-1 text-center">Validate and repair</div>

@if (Model.ValidationSuccess)
{
    <div class="display-1 text-center"><i class="far fa-thumbs-up"></i></div>
}
else
{
    <div class="display-1 text-center"><i class="far fa-thumbs-down"></i></div>
}
