<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="OrchardCore.Logging.NLog"/>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>

    <targets>
        <!-- console target -->
        <target xsi:type="Console" name="console" />

        <!-- appInsights target -->
        <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
          <instrumentationKey>${environment:APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>
          <contextproperty name="threadid" layout="${threadid}" />
        </target>

    </targets>

    <rules>
        <!-- info and above gets written to AI -->
        <logger name="*" minlevel="Info" writeTo="aiTarget" />

        <logger name="DFC.ServiceTaxonomy.GraphSync.GraphSyncers.MergeGraphSyncer" minlevel="Debug" writeTo="aiTarget" />

        <!-- the hosting lifetime events go to the console -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" />
    </rules>
</nlog>
