@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.DataSync.Activities.AuditSyncIssuesTask>

<header>
    <h4><i class="fa fa-link"></i>Audit DataSync Sync Issues</h4>
</header>
