@model ContentApprovalContentsAdminListFilterViewModel

<div class="form-group mb-n1 filter">
    <div class="btn-group mt-1">
        @* <select asp-for="SelectedApprovalStatus" asp-items="Model.ApprovalStatuses" class="selectpicker show-tick mr-2" data-header="@T["Filter by approval status"]" data-live-search="true" data-selected-text-format="static" data-width="fit" title="@T["Approval Status"]" data-style="btn-sm"> *@
        <select asp-for="SelectedApprovalStatus" asp-items="Html.GetEnumSelectList<ContentReviewStatus>()" class="selectpicker show-tick mr-2" data-header="@T["Filter by approval status"]" data-live-search="true" data-selected-text-format="static" data-width="fit" title="@T["Approval Status"]" data-style="btn-sm">
        </select>
    </div>
</div>
