@using DFC.ServiceTaxonomy.ContentApproval.Models.Enums
@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel
@{
    var buttonLabel = Model.ReviewStatus == ReviewStatus.ReadyForReview ? "Review" : "In review";
}
<a asp-action="Review" asp-controller="ContentApproval" asp-route-area="DFC.ServiceTaxonomy.ContentApproval" asp-route-contentItemId="@Model.ContentItemId"  asp-route-returnUrl="@FullRequestPath" class="btn btn-sm btn-success btn-content-approval"><span>@T[buttonLabel]</span></a>
