@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel

<div class="btn-group btn-group-approval">
    <button class="btn btn-secondary btn-content-approval" type="submit" name="submit.Save" value="submit.RequiresRevision">@T["Send back"]</button>
</div>
