@model ReviewTypeContentsAdminListFilterViewModel

<div class="form-group mb-n1 filter">
    <div class="btn-group mt-1">
        <select asp-for="SelectedReviewType" asp-items="Model.ReviewTypes" class="selectpicker show-tick mr-2" data-header="@T["Filter by review type"]" data-live-search="true" data-selected-text-format="static" data-width="fit" title="@T["Review Types"]" data-style="btn-sm">
        </select>
    </div>
</div>
