@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel

<div class="btn-group btn-group-approval">
    <button class="btn btn-success btn-content-approval" type="submit" name="submit.Save" value="submit.RequestApproval">@T["Review Request"]</button>
</div>
