@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel

<div class="btn-group btn-group-approval">
    <button class="btn btn-success btn-content-approval dropdown-toggle" id="reviewbutton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@T["Request review"]</button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reviewbutton">
        @foreach (var reviewType in Model.ReviewTypes)
        {
            <button class="dropdown-item" type="submit" name="submit.Save" value="submit.RequestApproval-@reviewType.Key">@T[reviewType.Value]</button>
        }
    </div>
</div>
