@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel

<div class="content-approval-comments-group">
    <textarea asp-for="Comment" cols="50" placeholder="Please add a comment before submitting...">@Model.Comment</textarea>
</div>
