@model DFC.ServiceTaxonomy.CustomFields.ViewModels.EditAccordionFieldSettingsViewModel

<fieldset class="form-group">
    <div class="row col-sm-6">
        <label asp-for="HeaderText">Header Text</label>
        <input asp-for="HeaderText" class="form-control" />
        <span class="hint">The text to display in the accordion header section.</span>
    </div>
</fieldset>
