@model DFC.ServiceTaxonomy.Title.Settings.UniqueTitlePartSettingsViewModel


<div class="form-group">
    <div class="w-md-75 w-xl-50 pr-md-3">
        <label asp-for="Hint">Hint</label>
        <textarea rows="2" class="form-control" asp-for="Hint"></textarea>
    </div>
    <span class="hint">The hint text to display for this field on the editor.</span>
</div>


