@model DFC.ServiceTaxonomy.Title.ViewModels.UniqueTitlePartViewModel

<style asp-name="test" asp-src="~/DFC.ServiceTaxonomy.Title/Styles/titles.min.css" debug-src="~/DFC.ServiceTaxonomy.Title/Styles/titles.css"></style>

<div class="form-group" asp-validation-class-for="Title">
    <div class="w-md-75 w-xl-50 pr-md-3">
        <label asp-for="Title">Title</label>

        <input asp-for="Title" class="form-control text-muted" placeholder="eg - @Model.Placeholder" />
        @*<span asp-validation-for="Title"></span>*@
        @if (!string.IsNullOrEmpty(Model.Hint))
        {
            <span class="hint">@Model.Hint</span>
        }
    </div>
</div>
