@namespace DFC.ServiceTaxonomy.Editor._Views_ContentPreview_Button

@using OrchardCore.ContentManagement
@inject IContentManager ContentManager

@{
#nullable enable

    ContentItem contentItem = Model.ContentItem;
    //todo: put back in the graphsyncpart check, as it won't be in the graph otherwise
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
}

@if (hasPublished)
{
    <a asp-action="@nameof(DFC.ServiceTaxonomy.GraphVisualiser.Controllers.VisualiseController.Viewer)"
       asp-controller="Visualise"
       asp-area="@typeof(DFC.ServiceTaxonomy.GraphVisualiser.Startup)!.Namespace"
       asp-route-contentItemId="@contentItem.ContentItemId"
       target="_blank"
       class="publish-button btn btn-info">@T["Visualise (last published)"]</a>
}
