@namespace DFC.ServiceTaxonomy.Editor._Views_Contents_Button_Actions_SummaryAdmin


<a asp-action="Viewer"
   asp-controller="Visualise"
   asp-area="DFC.ServiceTaxonomy.GraphVisualiser.Startup"
   asp-route-visualise="xxxxxxxxxxxxxxxxxxxxx"
   target="_blank"
   class="publish-button btn btn-info">Hello World</a>
