@using OrchardCore.ContentManagement
@using DFC.ServiceTaxonomy.GraphSync.Models
@inject IContentManager ContentManager

@{
    #nullable enable

    ContentItem contentItem = Model.ContentItem;
    string? graphSyncPartText = contentItem.Content[nameof(GraphSyncPart)]?[nameof(GraphSyncPart.Text)]?.Value;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
}

@if (hasPublished && graphSyncPartText != null)
{
    <a asp-action="@nameof(DFC.ServiceTaxonomy.GraphVisualiser.Controllers.VisualiseController.Viewer)"
       asp-controller="Visualise"
       asp-area="@typeof(DFC.ServiceTaxonomy.GraphVisualiser.Startup)!.Namespace"
       asp-route-visualise="@graphSyncPartText"
       target="_blank"
       class="publish-button btn btn-info">@T["Visualise (last published)"]</a>
}
