@model IEnumerable<object>

@foreach (var entry in Model)
{
    var item = entry as SimpleCypherModel;

    <li class="list-group-item">
        <div class="properties">
            <h5>@item.Occupation</h5>

            <span class="hint">@item.LastModified</span>
        </div>
        @*@await DisplayAsync(entry.Shape)*@
    </li>
}
