@using OrchardCore.ContentManagement
@inject IContentManager ContentManager

@* replace shape for content pickers instead? *@
<ul class="list-group">
    <li class="list-group-item active">Alternative Labels</li>
    @foreach (string contentItemId in Model.ContentItem.Content.Occupation.AlternativeLabels.ContentItemIds)
    {
        //todo: pub/draft
        ContentItem occupationAltLabel = await ContentManager.GetAsync(contentItemId, VersionOptions.Latest);
        <li class="list-group-item">@occupationAltLabel.ToString()</li>
    }
</ul>
