@using Newtonsoft.Json.Linq
@using OrchardCore.ContentManagement
@inject IContentManager ContentManager

@* replace shape for content pickers instead? *@
<ul class="list-group">
    @{
        string preferredLabelContentItemId = ((JArray) Model.ContentItem.Content.Occupation.PreferredLabel.ContentItemIds).FirstOrDefault()?.ToString();
        string preferredLabel = await GetDisplayText(preferredLabelContentItemId);
    }

    @* <li class="list-group-item active">Alternative Labels</li> *@
    <li class="list-group-item active">@preferredLabel</li>
    @foreach (string contentItemId in Model.ContentItem.Content.Occupation.AlternativeLabels.ContentItemIds)
    {
        //todo: pub/draft
        <li class="list-group-item">@(await GetDisplayText(contentItemId))</li>
    }
</ul>

@functions {
    private async Task<string> GetDisplayText(string contentItemId)
    {
        ContentItem contentItem = await ContentManager.GetAsync(contentItemId, VersionOptions.Latest);
        return contentItem.ToString();
    }
}
