@model DiffItem
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <span class="diff-item-label">@Model.Name</span>
        </div>
        <div class="col-4">
            <span>@Model.CompareItem</span>
        </div>
        <div class="col-4">
            <span>@Model.BaseItem</span>
        </div>
    </div>
</div>
