@model VersionComparisonViewModel

<div class="card mb-3 position-sticky action-bar">
    <div class="card-body bg-primary p-3">
        <div class="form-group mb-n1">
            @await DisplayAsync(Model.SelectLists?.Search)
        </div>
    </div>
</div>

<script at="Foot">
    $(function () {
        $('.version-picker').on('change', function () {
            $("form").submit();
        });
    });
</script>
