@model OrchardCore.ContentManagement.Display.ViewModels.ContentItemViewModel

<a asp-action="Index" asp-controller="Admin" asp-route-area="DFC.ServiceTaxonomy.VersionComparison" asp-route-contentItemId="@Model.ContentItem.ContentItemId" class="dropdown-item btn-sm">@T["Compare versions"]</a>
