<div class="card">
    <div class="card-body">
        <h4>@T["Cypher"]</h4>
        <p class="hint">@T["Create a Cypher query."]</p>
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a disabled="disabled" class="btn btn-primary btn-sm" href="/Admin/Queries/Create/Cypher">@T["Add"]</a>
    </div>
</div>
