@model DFC.ServiceTaxonomy.Accordions.Settings.AccordionPartSettingsViewModel

<div class="form-group">
    <div class="row col-lg">
        <span class="hint">@T["AccordionPartSettings.Edit.cshtml"]</span>
    </div>
</div>
