@model AccordionPartViewModel

@(await DisplayAsync(Model.Fields.First().Content))

@*<div class="form-group">
    <div class="custom-control custom-checkbox">
        <label class="custom-control-label">@T["AccordionPart.Edit.cshtml"]</label>
    </div>
</div>*@
