@model DFC.ServiceTaxonomy.Banners.ViewModels.BannerPartViewModel

@{
    var webPageUrlHint = "This field requires a National Careers Service website URL to define where on the live website the banners will be displayed." +
                         "<br><br><br>To display banners across a whole section such as '\'Careers advice'\', enter the parent location URL for this section, e.g. nationalcareers.service.gov.uk/careers-advice." +
                         "<br><br>The banners will appear on every page within /careers-advice." +
                         "<br><br><br>Displaying or managing banners on a individual page is possible, but only if there are no further child pages nested within the location specified, e.g. nationalcareers.service.gov.uk/careers-advice/advice-on-a-gap-year.";
}

<style asp-name="test" asp-src="~/DFC.ServiceTaxonomy.Banners/Styles/banners.css" debug-src="~/DFC.ServiceTaxonomy.Banners/Styles/banners.css"></style>

<div class="form-group" asp-validation-class-for="WebPageName">
    <label asp-for="WebPageName">
        Webpage name
    </label>
    <p>
        <span class="hint">
            @T["Enter the name of the individual webpage or the parent webpage/section you are adding a banner to."]
        </span>
    </p>
    <input asp-for="WebPageName" class="form-control text-muted" placeholder="e.g. Careers advice" />
    <span asp-validation-for="WebPageName"></span>
</div>
<div class="form-group" asp-validation-class-for="WebPageURL">
    <label asp-for="WebPageURL">
        Enter a webpage location to display the banner(s)
        <span id="pagebanner" class="badge font-weight-normal align-text-top text-info" data-html="true" data-toggle="tooltip" title="@(T[webPageUrlHint])" data-original-title="Published">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        </span>
    </label>
    <input asp-for="WebPageURL" class="form-control text-muted" placeholder="e.g. nationalcareers.service.gov.uk/careers-advice" />
    <span asp-validation-for="WebPageURL"></span>
</div>
