@page
@model DFC.ServiceTaxonomy.Editor.VisjsModel
@{
    ViewData["Title"] = "VisJS";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" />

<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 100vw;
        height: 100vh;
        border: 2px solid lightgray;
        box-sizing: border-box;
    }

    div.vis-tooltip {
        padding: 10px 20px;
        background: white;
        border: 1px solid ccc;
        color: #36454F;
        max-width: 500px;
        white-space: normal;
    }
</style>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>
<script type="text/javascript">
    var nodes = new vis.DataSet([
        {
            id: 1,
            label: 'Baker',
            type: 'JobProfile',
            color: '#218380',
            title: '<h3>Baker</h3><hr /><p><b>Type:</b></p><p>JobProfile</p><p><b>Description:</b></p><p>3D printing technicians manufacture products, including biomedical implants, car parts, aerospace components and fashion accessories.</p><p><b>How to become, career tips:</b></p><p>Learn more about the <a href="https://3dprintingindustry.com/3d-printing-basics-free-beginners-guide">basics of 3D printing</a>.</p>'
        },
        { id: 2, label: 'Tasks', type: 'Group', color: '#73D2DE' },
        { id: 3, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 4, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 5, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 6, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 7, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 8, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 9, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 10, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 11, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 12, label: 'making...', type: 'DayToDayTask', color: '#73D2DE' },
        { id: 13, label: 'Skills', type: 'Group', color: '#73D2DE' },
        { id: 14, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 15, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 16, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 17, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 18, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 19, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 20, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 21, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 22, label: 'Baking', type: 'Skill', color: '#73D2DE' },
        { id: 23, label: 'Baking', type: 'Skill', color: '#73D2DE'},
        { id: 24, label: 'baker', type: 'Occupation', title: 'ESCO Occupation' },
        { id: 25, label: 'Salary', type: 'SalaryInfo', color: '#8F2D56' },
        { id: 26, label: '£25,000', type: 'StarterSalary', color: '#8F2D56', title: 'Starting salary' },
        { id: 27, label: '£60,000', type: 'ExperiencedSalary', color: '#8F2D56', title: 'Experienced salary' }
    ]);

    var edges = new vis.DataSet([
        { from: 1, to: 2, label: "hasDailyTasks" },
        { from: 1, to: 24 },
        { from: 1, to: 25 },
        { from: 25, to: 26 },
        { from: 25, to: 27 },
        { from: 2, to: 3 },
        { from: 2, to: 4 },
        { from: 2, to: 5 },
        { from: 2, to: 6 },
        { from: 2, to: 7 },
        { from: 2, to: 8 },
        { from: 2, to: 9 },
        { from: 2, to: 10 },
        { from: 2, to: 11 },
        { from: 2, to: 12 },
        { from: 1, to: 13 },
        { from: 13, to: 14 },
        { from: 13, to: 15 },
        { from: 13, to: 16 },
        { from: 13, to: 17 },
        { from: 13, to: 18 },
        { from: 13, to: 19 },
        { from: 13, to: 20 },
        { from: 13, to: 21 },
        { from: 13, to: 22 },
        { from: 13, to: 23 }
    ]);

    var container = document.getElementById('container');

    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        nodes: {
            shape: 'circle',
            color: (node) => node.color,
            font: {
                color: 'white'
            }
        },
        edges: {
            arrows: "to",
            label: (edge) => edge.label
        },
        interaction: {
            dragNodes: false,
            hover: false
        }
    };

    var network = new vis.Network(container, data, options);
</script>
