@using OrchardCore.ContentManagement
@{
    ContentItem contentItem = Model.ContentItem;
    if (contentItem.ModifiedUtc.HasValue)
    {
        <div class="tags mr-1">
            <span class="badge ta-badge font-weight-normal align-text-top" data-toggle="tooltip" title="@T["Last modified"]">
                <i class="far fa-clock"></i> @(T["{0} by {1}", $"{contentItem.ModifiedUtc:dd/MM/yyyy HH:mm}", contentItem.Author])
            </span>
        </div>
    }
}
