@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.GraphSync.Activities.AuditSyncIssuesTask>

<header>
    <h4><i class="fa fa-link"></i>Audit graph sync issues</h4>
</header>
