@using DFC.ServiceTaxonomy.GraphSync.Activities
@model ContentTypeUpdatedViewModel

<header>
    <h4><i class="fa fa-bolt"></i>Content Type Updated</h4>
</header>
<em>Any content type that is updated where properties differ</em>
