@using DFC.ServiceTaxonomy.GraphSync.Activities
@model ContentTypeFieldRemovedEventViewModel

<header>
    <h4><i class="fa fa-bolt"></i>Content Type - Field Removed</h4>
</header>
<em>Fires when a field is removed in Orchard Core</em>
