@* <h4 class="card-title"><i class="fa fa-link"></i>@T["Sync To Graph"]</h4> *@
@* <p>@T["Sync content item to Neo4j graph."]</p> *@

<h4 class="card-title"><i class="fa fa-link"></i>Delete From Graph</h4>
<p>Delete a content item from Neo4j graph.</p>
