@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.GraphSync.Activities.DeleteContentTypeTask>

<header>
    <h4><i class="fa fa-link"></i>Delete Content Type from Orchard Core</h4>
</header>
