@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.GraphSync.Activities.GetContentItemsTask>

@* <header> *@
@*     <h4><i class="fa fa-link"></i>@Model.Activity.GetTitleOrDefault(() => T["Sync To Graph"])</h4> *@
@* </header> *@
@* <span>@T["<em>{0}</em>", Model.Activity.Value]</span> *@

<header>
    <h4><i class="fa fa-link"></i>Get Content Items</h4>
</header>
