@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.GraphSync.Activities.PublishContentTypeContentItemsTask>

<header>
    <h4><i class="fa fa-file-alt"></i>Publish all Content Items for a Content Type</h4>
</header>
