@model OrchardCore.Workflows.ViewModels.ActivityViewModel<DFC.ServiceTaxonomy.GraphSync.Activities.RemoveFieldFromContentItemsTask>

<header>
    <h4><i class="fa fa-file-alt"></i>Remove Field from Content Items</h4>
</header>
