variables:
- name: ReleaseEnvironmentName
  value: dev
- name: ResourceGroup
  value: dfc-dev-stax-editor-rg
- name: WebAppName
  value: dfc-dev-stax-editor-as
- name: SqlDatabaseName
  value: dfc-dev-stax-editor-db
- name: OrchardCoreSqlDatabaseConnStr
  value: 'Server=tcp:$(sharedSqlServerName).database.windows.net,1433;Initial Catalog=$(SqlDatabaseName);Persist Security Info=False;User ID=$(WebAppName)-svc;Password=$(OrchardEditorSqlUserPassword);MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;'
- name: FunctionalTestsSqlDatabaseConnStr
  value: 'Server=tcp:$(sharedSqlServerName).database.windows.net,1433;Initial Catalog=$(SqlDatabaseName);Persist Security Info=False;User ID=$(FunctionalTestsUser);Password=$(FunctionalTestsUserPassword);MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;'
- name: EventGridEnabled
  value: true
- name: EventGridTopicSku
  value: basic
- name: PublishToSlack
  value: true
- name: MediaStorageAccountName
  value: dfcdevdigstr
- name: ServicePrincipalName
  value: dfc-dev-stax-editor
- name: CdnProfileName
  value: dfc-dev-shared-cdn