variables:
- name: ReleaseEnvironmentName
  value: pp
- name: ResourceGroup
  value: dfc-pp-stax-editor-rg
- name: WebAppName
  value: dfc-pp-stax-editor-as
- name: SqlDatabaseName
  value: dfc-pp-stax-editor-db
- name: OrchardCoreSqlDatabaseConnStr
  value: Server=tcp:$(sharedSqlServerName).database.windows.net,1433;Initial Catalog=$(SqlDatabaseName);Persist Security Info=False;User ID=$(WebAppName)-svc;Password=$(OrchardEditorSqlUserPassword);MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;